.lime{
    background-color: lime;
}
.lavender{
    background-color: lavender;
}
.crimson{
    background-color: crimson;
}
.darkblue{
    background-color: darkblue;
}
.teal{
    background-color: teal;
}
.rebeccapurple{
    background-color: rebeccapurple;
}
.ghostwhite{
    background-color: ghostwhite;
}
.aquamarine{
    background-color: aquamarine;
}
.aliceblue{
    background-color: aliceblue;
}
#di{

    width:1500px;
    height: 700px;
    margin-left: 700px;
}